Assignment2/vars/
Assignment3/minifab-network-ins/vars/
Assignment4/fabric_network/organizations

AmanKumarVerma_ElectronicsSupplyChain/electronics_network/organizations
AmanKumarVerma_ElectronicsSupplyChain/electronics_network/channel-artifacts
AmanKumarVerma_ElectronicsSupplyChain/electronics_network/ElectronicsSC.tar.gz